body{
  /* background-color: #1a1a1f; */
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial;
  background-color: #1a1a1f;
  padding-top: 45px;
  padding-left: 200px;
}

* {
  box-sizing: border-box;
}


.frontpage-section{
  display: flex;
  align-items: flex-start;
  margin-top: 100px;
}

.left-half{
  margin-top: 60px;
}


.frontpage-gun{
  width: 850px;
}
.ad-title {
  font-size: 3.625em;
  font-style: normal;
  line-height: 1.2;
  font-weight: 700;
  color: #efeff5;
  display: grid;
  margin: 0;
  text-transform: uppercase;
}

.ad-span{
  color: #a19ce0;
}

.front-page-detail{
  font-size: 24px;
  font-style: normal;
  line-height: 1.5;
  
  color: #b7b4bf;
  margin: 0;
  max-width: 512px;
}
.detail-bottom-section{
  display: flex;
  justify-content: space-between;
  margin-top: 105px;

}
.detail{
  margin-right: 10px;
}
.detail-num{
  color: #a19ce0;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}


.detail-type{
  font-size: 15px;
    font-style: normal;
    line-height: 1.5;
    font-weight: 400;
    color: #b7b4bf;

}




















/* .frontpage-section{
  padding-top: 45px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;

}


.left-half{
  height: 100vh;
  background-color: #1a1a1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}
.ad-title {
  font-size: 3.625em;
  font-style: normal;
  line-height: 1.2;
  font-weight: 700;
  color: #efeff5;
  display: grid;
  margin: 0;
  text-transform: uppercase;
}

.ad-span{
  color: #a19ce0;
}

.front-page-detail{
  font-size: 1.5em;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  color: #b7b4bf;
  margin: 0;
  max-width: 512px;
}

.right-half{
  width: 30%;
}

.frontpage-gun{
  width: 500px;
  /* height: 100%; */
  object-fit: cover;
  object-position: center;
} */