body{
  /* background-color: #1a1a1f; */
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial;
  background-color: #1a1a1f;
  padding-top: 45px;
}

* {
  box-sizing: border-box;
}


.frontpage-section{
  display: flex;
  align-items: flex-start;
  margin-top: 100px;
  margin-left: 200px;
}

.left-half{
  margin-top: 60px;
}


.frontpage-gun{
  width: 850px;
}
.ad-title {
  font-size: 3.625em;
  font-style: normal;
  line-height: 1.2;
  font-weight: 700;
  color: #efeff5;
  display: grid;
  margin: 0;
  text-transform: uppercase;
}

.ad-span{
  color: #a19ce0;
}

.front-page-detail{
  font-size: 24px;
  font-style: normal;
  line-height: 1.5;
  
  color: #b7b4bf;
  margin: 0;
  max-width: 512px;
}
.detail-bottom-section{
  display: flex;
  justify-content: space-between;
  margin-top: 105px;

}
.detail{
  margin-right: 10px;
}
.detail-num{
  color: #a19ce0;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}


.detail-type{
  font-size: 15px;
    font-style: normal;
    line-height: 1.5;
    font-weight: 400;
    color: #b7b4bf;

}



/* Footer */

.foot{
  margin-top: 200px;
  background-color: #222127;
  height: 48px;
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 400;
}

.foot-auto{
  display: flex;
  justify-content: space-between;
  margin-right: 200px;
  margin-left: 200px;
  align-items: center;
  height: 48px;
}


.niqzsrosisjvfjjvuekbirltbs{
  fill: #efeff5;
  margin-right: 8px;
  cursor: pointer;
}





/* Scroll Up button */
.up{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 140px;
  bottom: 80px;
}
.up-svg-container{
    height: 44px;
    width: 44px;
    background-color: #5d5b7f;
    border-radius: 6px;
    display: flex;
    place-content: center;
    place-items: center;
    cursor: pointer;
}

.up-text{
  color: #383843;
  font-size: 12px;
  font-weight: 400;
  margin-top: 6px;
  letter-spacing: 1px;
}

.up-svg-container:hover{
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.5);
}

